[submodule "files/MRtrix3Tissue"]
	path = files/MRtrix3Tissue
	url = https://github.com/3Tissue/MRtrix3Tissue
[submodule "files/ICA-AROMA"]
	path = files/ICA-AROMA
	url = https://github.com/maartenmennes/ICA-AROMA
